<div class="container-fluid">
    <div class="row">
       <div class="col-sm-12 col-lg-6">
          <div class="card">
             <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                   <h4 class="card-title">Basic Tabs</h4>
                </div>
             </div>
             <div class="card-body">
                <p>The base <code>.nav</code> component does not include any <code>.active</code> state. The following examples include the class, mainly to demonstrate that this particular class does not trigger any special styling.</p>
                <ul ngbNav #nav1="ngbNav" class="nav nav-tabs" id="myTab-1" role="tablist">
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-selected="true">Home</a>
                      <ng-template ngbNavContent>  
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                     </ng-template>
                   </li>
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-selected="false">Profile</a>
                      <ng-template ngbNavContent> 
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                     </ng-template>
                   </li>
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-selected="false">Contact</a>
                      <ng-template ngbNavContent>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                     </ng-template>
                   </li>
                </ul>
                <div class="tab-content" id="myTabContent-2">
                 
                  <div [ngbNavOutlet]="nav1"></div>
                   
                </div>
             </div>
          </div>
          <div class="card">
             <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                   <h4 class="card-title">Basic Tabs Style 3</h4>
                </div>
             </div>
             <div class="card-body">
                <p>Takes the basic nav from above and adds the <code>.nav-tabs</code> class to generate a tabbed interface.</p>
                <ul ngbNav #nav2="ngbNav" class="nav nav-tabs" id="myTab-two" role="tablist">
                   <li ngbNavItem class="nav-item">
                      <a  ngbNavLink  class="nav-link" id="home-tab-two" data-bs-toggle="tab" href="#home-two" role="tab" aria-selected="true">Home</a>
                       <ng-template ngbNavContent> <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                       </ng-template>
                   </li>
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink  class="nav-link" id="profile-tab-two" data-bs-toggle="tab" href="#profile-two" role="tab" aria-selected="false">Profile</a>
                       <ng-template ngbNavContent> <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                       </ng-template>
                   </li>
                   <li ngbNavItem class="nav-item">
                      <a  ngbNavLink  class="nav-link" id="contact-tab-two" data-bs-toggle="tab" href="#contact-two" role="tab" aria-selected="false">Contact</a>
                       <ng-template ngbNavContent>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                       </ng-template>
                   </li>
                </ul>
                <div class="tab-content" id="myTabContent-1">
                  <div [ngbNavOutlet]="nav2"></div>
                </div>
             </div>
          </div>
          <div class="card">
             <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                   <h4 class="card-title">Tabs Vertical Pills</h4>
                </div>
             </div>
             <div class="card-body">
                <p>Stack your navigation by changing the flex item direction with the <code>.flex-column</code> utility.</p>
                <div class="row">
                   <div class="col-sm-3">
                      <div ngbNav #nav3="ngbNav" class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <div ngbNavItem>
                           <a ngbNavLink  class="nav-link " id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab"  aria-selected="true">Home</a>
                           <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>  </ng-template>
                        </div>
                        <div ngbNavItem>
                           <a ngbNavLink  class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab"  aria-selected="false">Profile</a>
                           <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></ng-template>
                        </div>
                        <div ngbNavItem>
                           <a ngbNavLink  class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-selected="false">Messages</a>
                           <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></ng-template>
                        </div>
                        <div ngbNavItem>
                           <a ngbNavLink class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab" aria-selected="false">Settings</a>
                           <ng-template ngbNavContent> <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>                           </ng-template>
                        </div>
                      </div>
                   </div>
                   <div class="col-sm-9">
                      <div class="tab-content mt-0" id="v-pills-tabContent">
                        <div [ngbNavOutlet]="nav3"></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="card">
             <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                   <h4 class="card-title">Tabs Justify Center</h4>
                </div>
             </div>
             <div class="card-body">
                <p>Centered with <code>.justify-content-center</code></p>
                <ul ngbNav #nav4="ngbNav" class="nav nav-tabs justify-content-center" id="myTab-2" role="tablist">
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link" id="home-tab-justify" data-bs-toggle="tab" href="#home-justify" role="tab" aria-selected="true">Home</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link" id="profile-tab-justify" data-bs-toggle="tab" href="#profile-justify" role="tab" aria-selected="false">Profile</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link" id="contact-tab-justify" data-bs-toggle="tab" href="#contact-justify" role="tab" aria-selected="false">Contact</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                </ul>
                <div class="tab-content" id="myTabContent-3">
                  <div [ngbNavOutlet]="nav4"></div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-sm-12 col-lg-6">
          <div class="card">
             <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                   <h4 class="card-title">Basic Tabs Style 2</h4>
                </div>
             </div>
             <div class="card-body">
                <p>Take that same HTML, but use <code>.nav-pills</code> instead:</p>
                <ul ngbNav #nav5="ngbNav" class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link " id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-selected="true">Home</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-selected="false">Profile</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact" role="tab" aria-selected="false">Contact</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                </ul>
                <div class="tab-content" id="pills-tabContent-2">
                  <div [ngbNavOutlet]="nav5"></div>

                </div>
             </div>
          </div>
          <div class="card">
             <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                   <h4 class="card-title">Basic Tabs Style 4</h4>
                </div>
             </div>
             <div class="card-body">
                <p>Takes the basic nav from above and adds the <code>.nav-tabs</code> class to generate a tabbed interface.</p>
                <ul ngbNav #nav6="ngbNav" class="nav nav-tabs" id="myTab-three" role="tablist">
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link " id="home-tab-three" data-bs-toggle="tab" href="#home-three" role="tab" aria-selected="true">Home</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link" id="profile-tab-three" data-bs-toggle="tab" href="#profile-three" role="tab" aria-selected="false">Profile</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link" id="contact-tab-three" data-bs-toggle="tab" href="#contact-three" role="tab" aria-selected="false">Contact</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                </ul>
                <div class="tab-content" id="myTabContent-4">
                  <div [ngbNavOutlet]="nav6"></div>
                </div>
             </div>
          </div>
          <div class="card">
             <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                   <h4 class="card-title">Tabs Fill and justify</h4>
                </div>
             </div>
             <div class="card-body">
                <p>Force your <code>.nav</code>’s contents to extend the full available width one of two modifier classes. To proportionately fill all available space with your <code>.nav-item</code>s, use <code>.nav-fill</code>. Notice that all horizontal space is occupied, but not every nav item has the same width.</p>
                <ul ngbNav #nav7="ngbNav" class="nav nav-pills mb-3 nav-fill" id="pills-tab-1" role="tablist">
                   <li ngbNavItem  class="nav-item">
                      <a ngbNavLink class="nav-link " id="pills-home-tab-fill" data-bs-toggle="pill" href="#pills-home-fill" role="tab" aria-selected="true">Home</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                   <li ngbNavItem  class="nav-item">
                      <a ngbNavLink class="nav-link" id="pills-profile-tab-fill" data-bs-toggle="pill" href="#pills-profile-fill" role="tab" aria-selected="false">Profile</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                   <li ngbNavItem  class="nav-item">
                      <a ngbNavLink class="nav-link" id="pills-contact-tab-fill" data-bs-toggle="pill" href="#pills-contact-fill" role="tab" aria-selected="false">Contact</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                </ul>
                <div class="tab-content" id="pills-tabContent-1">
                  <div [ngbNavOutlet]="nav7"></div>
                </div>
             </div>
          </div>
          <div class="card">
             <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                   <h4 class="card-title">Tabs Justify Right</h4>
                </div>
             </div>
             <div class="card-body">
                <p>Right-aligned with <code>.justify-content-end</code>.</p>
                <ul ngbNav #nav8="ngbNav" class="nav nav-tabs justify-content-end" id="myTab-4" role="tablist">
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link" id="home-tab-end" data-bs-toggle="tab" href="#home-end" role="tab" aria-selected="true">Home</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link" id="profile-tab-end" data-bs-toggle="tab" href="#profile-end" role="tab" aria-selected="false">Profile</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                   <li ngbNavItem class="nav-item">
                      <a ngbNavLink class="nav-link" id="contact-tab-end" data-bs-toggle="tab" href="#contact-end" role="tab" aria-selected="false">Contact</a>
                       <ng-template ngbNavContent><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></ng-template>
                   </li>
                </ul>
                <div class="tab-content" id="myTabContent-5">
                  <div [ngbNavOutlet]="nav8"></div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>