<div *ngIf="isLoading" class="row mt-5">
    <div class="iq-loader-box mt-5">
      <div class="iq-loader-10"></div>
    </div>
  </div>
<div class=" mt-5" *ngIf="!isLoading">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Encaissement d'Argent</h4>
                    <h5 >Scan me</h5>
                </div>

                <div class="col-md-6 offset-md-3 py-4"> 
                <div class="card-body">
               
                    <div *ngIf="qrValue" class="text-center mt-4">
                        <qrcode [qrdata]="qrValue" [width]="256" [errorCorrectionLevel]="'M'" cssClass="qrcodeshadow"></qrcode>
                        <!-- <canvas #qrCodeCanvas id="qrCodeCanvas"></canvas> -->
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>