<div class="row">
   <div class="col-lg-12">
      <div class="card">
           <div class="card-body">
              <div class="d-flex flex-wrap align-items-center justify-content-between">
                 <div class="d-flex flex-wrap align-items-center">
                    <div class="profile-img position-relative me-3 mb-3 mb-lg-0 profile-logo profile-logo1">
                       <img src="assets/images/avatars/01.png" alt="User-Profile" class="theme-color-default-img img-fluid rounded-pill avatar-100" loading="lazy">
                       <img src="assets/images/avatars/avtar_1.png" alt="User-Profile" class="theme-color-purple-img img-fluid rounded-pill avatar-100" loading="lazy">
                       <img src="assets/images/avatars/avtar_2.png" alt="User-Profile" class="theme-color-blue-img img-fluid rounded-pill avatar-100" loading="lazy">
                       <img src="assets/images/avatars/avtar_4.png" alt="User-Profile" class="theme-color-green-img img-fluid rounded-pill avatar-100" loading="lazy">
                       <img src="assets/images/avatars/avtar_5.png" alt="User-Profile" class="theme-color-yellow-img img-fluid rounded-pill avatar-100" loading="lazy">
                       <img src="assets/images/avatars/avtar_3.png" alt="User-Profile" class="theme-color-pink-img img-fluid rounded-pill avatar-100" loading="lazy">
                    </div>
                    <div class="d-flex flex-wrap align-items-center mb-3 mb-sm-0">
                       <h4 class="me-2 h4">Austin Robertson</h4>
                       <span> - Web Developer</span>
                    </div>
                 </div>
                 <ul ngbNav #nav="ngbNav"  class="d-flex nav nav-pills mb-0 text-center profile-tab" data-toggle="slider-tab" id="profile-pills-tab" role="tablist">
            
                    <li ngbNavItem class="nav-item">
                       <a ngbNavLink class="nav-link" data-bs-toggle="tab" href="#profile-profile" role="tab" aria-selected="false">Profile</a>
                       <ng-template ngbNavContent><div id="profile-profile" class="tab-pane ">
                          <div class="card">
                             <div class="card-header">
                                <div class="header-title">
                                   <h4 class="card-title">Profile</h4>
                                </div>
                             </div>
                             <div class="card-body">
                                <div class="text-center">
                                   <div>
                                      <img src="assets/images/avatars/01.png" alt="profile-img" class="rounded-pill avatar-130 img-fluid" loading="lazy">
                                   </div>
                                   <div class="mt-3">
                                      <h3 class="d-inline-block">Austin Robertson</h3>
                                      <p class="d-inline-block pl-3"> - Web developer</p>
                                      <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                   </div>
                                </div>
                             </div>
                          </div>
                          <div class="card">
                             <div class="card-header">
                                <div class="header-title">
                                   <h4 class="card-title">About User</h4>
                                </div>
                             </div>
                             <div class="card-body">
                                <div class="user-bio">
                                   <p>Tart I love sugar plum I love oat cake. Sweet roll caramels I love jujubes. Topping cake wafer.</p>
                                </div>
                                <div class="mt-2">
                                <h6 class="mb-1">Joined:</h6>
                                <p>Feb 15, 2021</p>
                                </div>
                                <div class="mt-2">
                                <h6 class="mb-1">Lives:</h6>
                                <p>United States of America</p>
                                </div>
                                <div class="mt-2">
                                <h6 class="mb-1">Email:</h6>
                                <p><a href="#" class="text-body"> austin@gmail.com</a></p>
                                </div>
                                <div class="mt-2">
                                <h6 class="mb-1">Url:</h6>
                                <p><a href="#" class="text-body" target="_blank"> www.bootstrap.com </a></p>
                                </div>
                                <div class="mt-2">
                                <h6 class="mb-1">Contact:</h6>
                                <p><a href="#" class="text-body">(001) 4544 565 456</a></p>
                                </div>
                             </div>
                          </div>
                       </div></ng-template>
                    </li>
                 <div class="nav-slider-thumb position-absolute nav-link" style="padding: 0px; width: 58px; height: 38px; transform: translate3d(0px, 0px, 0px); transition: all 300ms ease-in-out 0s;"><a class="nav-link " data-bs-toggle="tab" href="#profile-feed" role="tab" aria-selected="false"></a></div></ul>
              </div>
           </div>
      </div>
   </div>
   <!-- <div class="col-lg-2"> 

   </div> -->
   <div class="col-lg-12">
      <div class="profile-content tab-content iq-tab-fade-up">
        <div [ngbNavOutlet]="nav"></div>

     </div>
   </div>

</div>
