.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust alignment as needed */
}

.pricing-box-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
