
    <div class="row">
       <div class="col-md-12">

          <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Liste des Abonnements</h4>
                </div>
               
            </div>
            <div class="card-body">
               <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

                <div class="col">
                    <div class="card pricing-box-2  mb-lg-0">
                        <div class="card-body">
                            <h3>Basique</h3>
                          
                            <h2 class="my-4 yearlypricing"><b>150 TND/Mois</b></h2>
                            <ul class="list-unstyled p-0 mb-0">
                                <li><p class="mb-4"><svg width="8" class="me-2" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="4" cy="4" r="4" fill="currentColor"/>
                                </svg>Push notifications for 50 random clients</p></li>
                                <li><p class="mb-4"><svg width="8" class="me-2" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="4" cy="4" r="4" fill="currentColor"/>
                                </svg>Number of occurrences: Once a week</p></li>
                                <li><p class="mb-4"><svg width="8" class="me-2" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="4" cy="4" r="4" fill="currentColor"/>
                                </svg>Cash IN and Cash OUT</p></li>
                            </ul>
                            <!-- <div class="type-2">Popular</div>                             -->
                            <button type="button" class="btn btn-primary border">Sign up</button>
                        </div>
                    </div>
                </div>
                
                   <div class="col">
                       <div class="card pricing-box-2  mb-lg-0">
                           <div class="card-body">
                               <h3>Standard</h3>
                             
                               <h2 class="my-4 yearlypricing"><b>200 TND/Mois</b></h2>
                               <ul class="list-unstyled p-0 mb-0">
                                   <li><p class="mb-4"><svg width="8" class="me-2" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <circle cx="4" cy="4" r="4" fill="currentColor"/>
                                   </svg>Push notifications for 70 random clients</p></li>
                                   <li><p class="mb-4"><svg width="8" class="me-2" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <circle cx="4" cy="4" r="4" fill="currentColor"/>
                                   </svg>Number of occurrences: 2 times a week</p></li>
                                   <li><p class="mb-4"><svg width="8" class="me-2" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <circle cx="4" cy="4" r="4" fill="currentColor"/>
                                   </svg>Cash IN and Cash OUT</p></li>
                               </ul>
                               <!-- <div class="type-2">Popular</div>                             -->
                               <button type="button" class="btn btn-primary border">Sign up</button>
                           </div>
                       </div>
                   </div>
                   <div class="col">
                       <div class="card  pricing-box-2 mb-lg-0">
                           <div class="card-body">
                               <h3>Ultimate</h3>
                               
                               <h2 class="my-4 pricingtable__highlight yearlypricing my-4"><b>300 TND/Mois</b></h2>
                               <ul class="list-unstyled p-0 mb-0">
                                   <li><p class="mb-4"><svg width="8" class="me-2" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <circle cx="4" cy="4" r="4" fill="currentColor"/>
                                   </svg>Push notifications for all clients</p></li>
                                   <li><p class="mb-4"><svg width="8" class="me-2" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <circle cx="4" cy="4" r="4" fill="currentColor"/>
                                   </svg>Number of occurrences: 3 times a week</p></li>
                                   <li><p class="mb-4"><svg width="8" class="me-2" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <circle cx="4" cy="4" r="4" fill="currentColor"/>
                                   </svg>Cash IN and Cash OUT</p></li>
                               </ul>
                               <!-- <div class="type-2">Popular</div>  -->
                               <button type="button" class="btn btn-primary border">Sign up</button>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           
             
          </div>
       </div>
    </div>